@import url(bootstrap.css);
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.eot");
  src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Bold.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirNextLTPro-MediumCn";
  src: url("../fonts/AvenirNextLTPro-MediumCn.eot");
  src: url("../fonts/AvenirNextLTPro-MediumCn.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-MediumCn.woff") format("woff"), url("../fonts/AvenirNextLTPro-MediumCn.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-MediumCn.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, .icon-arrow-gray, .icon-arrow-to-right, .icon-arrow-white, .icon-bullet-header, .icon-circular-arrow, .icon-limited-time, .icon-quotes-testimonials, header .blue-region .contents ul li:before, header .blue-region .contents .btn:after, section#content article.gray .container:before, section#content article.gray .container:after, section#content article.howitworks .with-numbers h4.title span.value:after, section#content article.whatsayabouyus ul.testimonials li:before, section#content article.whatsayabouyus .col-xs-4:after {
  background: url('../img/icon-s63bcf26d66.png') no-repeat; }

.icon-arrow-gray {
  background-position: 0 0;
  height: 25px;
  width: 51px; }

.icon-arrow-to-right {
  background-position: -151px 0;
  height: 15px;
  width: 45px; }

.icon-arrow-white {
  background-position: -296px 0;
  height: 21px;
  width: 42px; }

.icon-bullet-header {
  background-position: -438px 0;
  height: 23px;
  width: 24px; }

.icon-circular-arrow {
  background-position: -562px 0;
  height: 128px;
  width: 164px; }

.icon-limited-time {
  background-position: -826px 0;
  height: 54px;
  width: 106px; }

.icon-quotes-testimonials {
  background-position: -1032px 0;
  height: 32px;
  width: 40px; }

.icon, .icon-arrow-gray, .icon-arrow-to-right, .icon-arrow-white, .icon-bullet-header, .icon-circular-arrow, .icon-limited-time, .icon-quotes-testimonials, header .blue-region .contents ul li:before, header .blue-region .contents .btn:after, section#content article.gray .container:before, section#content article.gray .container:after, section#content article.howitworks .with-numbers h4.title span.value:after, section#content article.whatsayabouyus ul.testimonials li:before, section#content article.whatsayabouyus .col-xs-4:after {
  display: inline-block; }

/* Main elements */
body {
  width: 100%;
  max-width: 100%;
  font-family: 'AvenirNextLTPro-Regular'; }

html.ie8 body {
  min-width: 960px;
  font-size: 115%; }

/* Typographic */
h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  text-align: left;
  color: inherit;
  max-width: 100%;
  font-family: 'AvenirNextLTPro-Bold'; }

h1 {
  font-size: 3.55em; }

h2 {
  font-size: 2.16em; }

h3 {
  font-size: 3.56em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.23em; }

h6 {
  font-size: 1.2em; }

strong {
  font-family: 'AvenirNextLTPro-Bold'; }

ul li, p, dd, dt, cite {
  line-height: 132%;
  margin-bottom: 26px;
  padding: 0;
  font-size: 1.26em;
  color: inherit;
  max-width: 100%; }
  html.ie8 ul li, html.ie8 p, html.ie8 dd, html.ie8 dt, html.ie8 cite {
    font-size: 1.37em; }

.outlined, .outlined div {
  outline: 1px solid red; }

.img-responsive {
  max-width: 100%; }

.container {
  margin: auto;
  max-width: 960px;
  padding-left: 45px;
  padding-right: 45px; }

.uppercase {
  text-transform: uppercase; }

.btn {
  white-space: normal; }

.btn-warning {
  font-family: 'AvenirNextLTPro-Bold';
  border: 1px solid #ffab36;
  background: #fc861f;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjODYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y4N2YxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjc0MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fc861f 0%, #f87f19 50%, #f2740e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc861f), color-stop(50%, #f87f19), color-stop(100%, #f2740e));
  background: -webkit-linear-gradient(top, #fc861f 0%, #f87f19 50%, #f2740e 100%);
  background: -o-linear-gradient(top, #fc861f 0%, #f87f19 50%, #f2740e 100%);
  background: -ms-linear-gradient(top, #fc861f 0%, #f87f19 50%, #f2740e 100%);
  background: linear-gradient(to bottom, #fc861f 0%, #f87f19 50%, #f2740e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc861f', endColorstr='#f2740e',GradientType=0 );
  margin: 0;
  max-width: 100%;
  line-height: 100%;
  padding: 17px 45px;
  text-transform: uppercase;
  border-radius: 80px;
  font-size: 1.56em;
  white-space: normal; }
  .btn-warning span.light {
    font-family: 'AvenirNextLTPro-Regular'; }
  @media (max-width: 768px) {
    .btn-warning {
      display: block; } }
  html.ie9 .btn-warning {
    border-radius: 0; }
  html.ie8 .btn-warning {
    border-radius: 0;
    background: #fc861f !important;
    filter: none; }

header {
  background: url(../img/top-header.jpg) no-repeat top center #cccccc;
  color: #fff; }
  @media (max-width: 768px) {
    header {
      background-position: top left; } }
  @media (max-width: 480px) {
    header {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 30px; } }
  header .blue-region {
    padding-left: 224px;
    font-family: 'AvenirNextLTPro-Bold'; }
    @media (max-width: 979px) {
      header .blue-region {
        padding-left: 50px; } }
    @media (max-width: 768px) {
      header .blue-region {
        padding-left: 0px; } }
    html.ie8 header .blue-region {
      padding-left: 310px;
      padding-right: 100px;
      height: 610px; }
    header .blue-region .title {
      background: #6991c3;
      background: rgba(2, 78, 176, 0.5);
      margin: 0;
      line-height: 123%;
      padding: 23px 41px 30px 41px;
      font-size: 2.8em;
      text-align: left; }
      @media (max-width: 768px) {
        header .blue-region .title {
          padding: 10px 15px;
          font-size: 2.2em; } }
    header .blue-region .contents {
      background: #60acd1;
      background: rgba(1, 150, 221, 0.5);
      padding: 27px 40px;
      padding-bottom: 50px;
      margin-bottom: 25px; }
      @media (max-width: 768px) {
        header .blue-region .contents {
          padding: 10px 15px;
          margin: 0; } }
      header .blue-region .contents h4 {
        margin: 0px 0px 40px 0px;
        text-align: left; }
        html.ie9 header .blue-region .contents h4 {
          margin-bottom: 0px; }
      header .blue-region .contents ul {
        margin: 0px 0px 0px 65px;
        padding: 0; }
        @media (max-width: 768px) {
          header .blue-region .contents ul {
            margin-left: 20px; } }
        header .blue-region .contents ul li {
          list-style: none;
          position: relative;
          line-height: 121%;
          font-size: 1.16em;
          margin-bottom: 16px; }
          html.ie8 header .blue-region .contents ul li {
            font-size: 1.3em; }
          header .blue-region .contents ul li:before {
            content: '';
            position: absolute;
            top: 0px;
            line-height: 120%;
            left: -45px;
            background-position: -438px 0;
            height: 23px;
            width: 24px; }
            @media (max-width: 768px) {
              header .blue-region .contents ul li:before {
                left: -30px; } }
      header .blue-region .contents .btn {
        margin: 31px 0 39px 0;
        position: relative; }
        header .blue-region .contents .btn:after {
          content: '';
          position: absolute;
          bottom: -58px;
          left: 170px;
          background-position: -826px 0;
          height: 54px;
          width: 106px; }
          @media (max-width: 768px) {
            header .blue-region .contents .btn:after {
              display: none; } }

section#content {
  color: #868686; }
  section#content h3 {
    margin-top: 0;
    margin-bottom: 45px; }
  section#content h4 {
    margin-top: 0;
    margin-bottom: 24px; }
  section#content article.gray {
    background: #f0f0f0; }
    section#content article.gray .container {
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative; }
      section#content article.gray .container:before {
        content: '';
        position: absolute;
        left: 49px;
        top: -0px;
        background-position: -296px 0;
        height: 21px;
        width: 42px; }
      section#content article.gray .container:after {
        content: '';
        position: absolute;
        left: 49px;
        bottom: -25px;
        background-position: 0 0;
        height: 25px;
        width: 51px; }
  section#content article.white {
    background: #ffffff;
    padding: 20px 0; }
  section#content article.about {
    padding: 41px 0 0px 0; }
    section#content article.about img.img {
      position: relative;
      margin-left: -56px;
      margin-top: -68px; }
      @media (max-width: 768px) {
        section#content article.about img.img {
          margin: 10px 0 0 0; } }
    section#content article.about .col-xs-7 {
      padding-right: 77px; }
    section#content article.about .col-xs-5 {
      padding: 0; }
    @media (max-width: 768px) {
      section#content article.about .col-xs-5, section#content article.about .col-xs-7 {
        padding: 0 15px !important; } }
    html.ie8 section#content article.about p {
      font-size: 1.6em; }
  section#content article.howitworks h3 {
    margin-top: 26px;
    margin-bottom: 15px; }
  section#content article.howitworks .btn {
    margin-top: 9px;
    padding: 13px 43px;
    text-transform: none; }
  section#content article.howitworks .with-numbers {
    margin: 73px -10px 24px -10px; }
    section#content article.howitworks .with-numbers .col-xs-4 {
      padding: 0 15px 0 5px; }
      section#content article.howitworks .with-numbers .col-xs-4:last-child {
        padding: 0 0px 0 15px; }
        section#content article.howitworks .with-numbers .col-xs-4:last-child h4.title span.value:after {
          display: none; }
    section#content article.howitworks .with-numbers p {
      font-size: 1.16em;
      line-height: 126%; }
      @media (max-width: 768px) {
        section#content article.howitworks .with-numbers p {
          margin-bottom: 50px; } }
      html.ie8 section#content article.howitworks .with-numbers p {
        font-size: 1.6em; }
    section#content article.howitworks .with-numbers h4.title {
      font-size: 1em;
      line-height: 100%;
      padding: 0;
      margin: 0px 0px 24px 0px; }
      @media (max-width: 768px) {
        section#content article.howitworks .with-numbers h4.title {
          text-align: center; } }
      section#content article.howitworks .with-numbers h4.title span.number {
        font-size: 5.6em;
        display: inline-block;
        vertical-align: baseline;
        position: relative; }
        section#content article.howitworks .with-numbers h4.title span.number.lightblue {
          color: #83caee; }
        section#content article.howitworks .with-numbers h4.title span.number.moreblue {
          color: #0196dd; }
        section#content article.howitworks .with-numbers h4.title span.number.deepblue {
          color: #024eb0; }
        @media (max-width: 768px) {
          section#content article.howitworks .with-numbers h4.title span.number {
            display: block;
            margin: 25px auto;
            text-align: center; } }
      section#content article.howitworks .with-numbers h4.title span.value {
        font-size: 1.3em;
        display: inline-block;
        vertical-align: baseline;
        position: relative;
        margin-left: 3px; }
        section#content article.howitworks .with-numbers h4.title span.value:after {
          content: '';
          position: relative;
          top: 3px;
          margin-left: 6px;
          background-position: -151px 0;
          height: 15px;
          width: 45px; }
  section#content article.howitworks .tip {
    font-size: 1em;
    line-height: 100%;
    margin: 36px 0 36px 0; }
    html.ie8 section#content article.howitworks .tip {
      font-size: 1.2em; }
  section#content article.whatsayabouyus {
    padding: 50px 0 54px 0; }
    section#content article.whatsayabouyus .container {
      padding-left: 31px;
      padding-right: 31px;
      padding-top: 18px; }
    section#content article.whatsayabouyus h3 {
      line-height: 106%; }
    section#content article.whatsayabouyus ul.testimonials {
      margin: 52px 0px 0px 0px;
      padding: 0;
      list-style: none; }
      section#content article.whatsayabouyus ul.testimonials li {
        line-height: 100%;
        margin-bottom: 22px;
        position: relative;
        z-index: 10; }
        section#content article.whatsayabouyus ul.testimonials li:before {
          content: '';
          position: absolute;
          top: -14px;
          left: 0px;
          z-index: -1;
          background-position: -1032px 0;
          height: 32px;
          width: 40px; }
        section#content article.whatsayabouyus ul.testimonials li cite {
          font-family: 'AvenirNextLTPro-MediumCn';
          font-size: 1em;
          display: block;
          margin-bottom: 10px; }
          html.ie8 section#content article.whatsayabouyus ul.testimonials li cite {
            font-size: 1.3em; }
        section#content article.whatsayabouyus ul.testimonials li .name {
          display: block; }
          section#content article.whatsayabouyus ul.testimonials li .name strong {
            color: #0e9bdf; }
    section#content article.whatsayabouyus .col-xs-8 {
      padding-right: 100px; }
    section#content article.whatsayabouyus .col-xs-4 {
      padding: 0;
      padding-top: 20px;
      position: relative; }
      section#content article.whatsayabouyus .col-xs-4:after {
        content: '';
        position: absolute;
        bottom: -150px;
        left: -59px;
        background-position: -562px 0;
        height: 128px;
        width: 164px; }
        @media (max-width: 768px) {
          section#content article.whatsayabouyus .col-xs-4:after {
            display: none; } }
    @media (max-width: 768px) {
      section#content article.whatsayabouyus .col-xs-8, section#content article.whatsayabouyus .col-xs-4 {
        padding-left: 15px;
        padding-right: 15px; } }
  section#content article.media-about .container {
    padding: 61px 44px 30px 105px; }
  section#content article.media-about h3 {
    margin-bottom: 20px; }
  section#content article.media-about .well-blue {
    color: #fff;
    background: #0196dd;
    border-radius: 8px;
    padding: 36px 27px;
    margin-bottom: 28px; }
    section#content article.media-about .well-blue p {
      margin: 0px 0px 11px 0px;
      font-size: 1.56em;
      line-height: 121%; }
  section#content article.limitedttime {
    padding: 87px 0 20px 0; }
    section#content article.limitedttime .container {
      padding-left: 32px;
      padding-right: 32px; }
    section#content article.limitedttime .limited-offer-region {
      padding-bottom: 39px; }
      section#content article.limitedttime .limited-offer-region .col-xs-8 {
        padding-left: 0; }
      section#content article.limitedttime .limited-offer-region .col-xs-4 {
        padding: 10px 15px; }
      section#content article.limitedttime .limited-offer-region h3 {
        color: #0e9bdf;
        margin-bottom: 30px; }
      section#content article.limitedttime .limited-offer-region p {
        margin-bottom: 25px;
        line-height: 120%;
        font-size: 1.56em; }
    section#content article.limitedttime .book-region {
      text-align: center;
      padding: 60px 0;
      position: relative; }
      section#content article.limitedttime .book-region .btn {
        padding: 17px 24px;
        text-transform: none; }
      @media (max-width: 768px) {
        section#content article.limitedttime .book-region {
          padding: 20px 0; } }
      section#content article.limitedttime .book-region:before {
        content: '';
        position: absolute;
        width: 100%;
        top: -4px;
        left: 0;
        height: 4px;
        background: url(data:image/gif;base64,R0lGODlhCAADALMAAAAAAP////z8/Pv7+/j4+PX19enp6cbGxsLCwsHBwXBwcP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAIAAMAAAQMcBgRak0K2VoO2UEEADs=); }
      section#content article.limitedttime .book-region:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -4px;
        height: 4px;
        background: url(data:image/gif;base64,R0lGODlhCAADALMAAAAAAP////z8/Pv7+/j4+PX19enp6cbGxsLCwsHBwXBwcP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAIAAMAAAQMcBgRak0K2VoO2UEEADs=); }
    section#content article.limitedttime .faqs-region {
      padding: 66px 0 0px 0;
      color: #707070; }
      section#content article.limitedttime .faqs-region .container {
        padding-left: 44px;
        padding-right: 44px; }
      section#content article.limitedttime .faqs-region h3 {
        margin-bottom: 32px; }
      section#content article.limitedttime .faqs-region dl.faqs {
        margin-bottom: 60px; }
        section#content article.limitedttime .faqs-region dl.faqs dt {
          font-family: 'AvenirNextLTPro-Bold';
          margin-bottom: 24px;
          font-size: 1.5em; }
          section#content article.limitedttime .faqs-region dl.faqs dt .blue {
            color: #0e9bdf; }
        section#content article.limitedttime .faqs-region dl.faqs dd {
          font-size: 1.16em;
          line-height: 150%;
          margin-bottom: 37px; }
          html.ie8 section#content article.limitedttime .faqs-region dl.faqs dd {
            font-size: 1.37em; }
      section#content article.limitedttime .faqs-region p.links {
        margin-top: 35px;
        margin-bottom: 0;
        line-height: 100%;
        font-size: .96em;
        color: #868686;
        text-align: center; }
        section#content article.limitedttime .faqs-region p.links a {
          color: inherit;
          font-family: 'AvenirNextLTPro-Bold'; }

@media (max-width: 768px) {
  h1 {
    font-size: 3.2em; }

  h2 {
    font-size: 1.8em; }

  h3 {
    font-size: 2.6em; }

  h3 {
    text-align: center; }

  img {
    max-width: 100%;
    margin: auto; }

  .container {
    padding-left: 20px !important;
    padding-right: 20px !important; }

  br {
    display: none; }

  /* Grid */
  .row {
    margin: 0; }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: none;
    width: 100%; }

  .btn:before {
    display: none !important; } }
a:hover,
a:focus,
a,
i,
span,
.btn,
.btn:hover,
.btn:focus {
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease; }
