@import "compass"; 
@import "bootstrap.css";
@import "lib.scss"; 
@import "fonts.scss";
 
// Generating sprites
$icon-sprite-base-class: '.icon';
$icon-layout: horizontal;
$icon-sprite-dimensions: true;
$icon-spacing: 100px;
$icon-style-display: inline-block;
$icon-dimensions: true;

@import "icon/*.png";
@include all-icon-sprites(true); 
.icon{
	display: inline-block;
}

// Define general styling
/* Main elements */

// Body definition
body { width: 100%; max-width: 100%; font-family: 'AvenirNextLTPro-Regular'; }
html.ie8 body { min-width: 960px; font-size: 115%; }


/* Typographic */
h1,h2,h3,h4,h5,h6 {line-height: 120%; text-align: left; color: inherit; max-width: 100%; font-family: 'AvenirNextLTPro-Bold'; } 
h1 {font-size: 3.55em; }
h2 {font-size: 2.16em; }
h3 {font-size: 3.56em; }
h4 {font-size: 1.8em;  }
h5 {font-size: 1.23em;  } 
h6 {font-size: 1.2em;   } 
strong{
	font-family: 'AvenirNextLTPro-Bold';
}
ul li, p, dd, dt, cite {
	line-height: 132%; margin-bottom: 26px; padding: 0; font-size: 1.26em; color: inherit; max-width: 100%; 
	html.ie8 &{ font-size: 1.37em; }
}
.outlined, .outlined div{ outline: 1px solid red; }
.img-responsive{max-width: 100%;}
.container {margin: auto; max-width: 960px; padding-left: 45px; padding-right: 45px; 
	// border-left: 1px solid red; border-right: 1px solid red; 
} 
.uppercase{text-transform: uppercase;}
.btn{
	white-space: normal;
}
.btn-warning{
	font-family: 'AvenirNextLTPro-Bold';
	border: 1px solid #ffab36;
	background: #fc861f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjODYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y4N2YxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjc0MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fc861f 0%, #f87f19 50%, #f2740e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc861f), color-stop(50%,#f87f19), color-stop(100%,#f2740e));
	background: -webkit-linear-gradient(top,  #fc861f 0%,#f87f19 50%,#f2740e 100%);
	background: -o-linear-gradient(top,  #fc861f 0%,#f87f19 50%,#f2740e 100%);
	background: -ms-linear-gradient(top,  #fc861f 0%,#f87f19 50%,#f2740e 100%);
	background: linear-gradient(to bottom,  #fc861f 0%,#f87f19 50%,#f2740e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc861f', endColorstr='#f2740e',GradientType=0 ); 
	margin: 0;  
	max-width: 100%;
	line-height: 100%;
	padding: 17px 45px;
	text-transform: uppercase;
	border-radius: 80px;
	font-size: 1.56em;
	white-space: normal;	
	span.light{
		font-family: 'AvenirNextLTPro-Regular';
	}

	@include media-tablet { display: block; }
	html.ie9 &{
		border-radius: 0;
	}
	html.ie8 &{
		border-radius: 0;
		background: #fc861f !important;
		filter: none;
	}
}


// Start header
header{
	background: url(../img/top-header.jpg) no-repeat top center #ccc;
	color: #fff;

	// min-height: 696px; 
	@include media-tablet { background-position: top left; }
	@include media-smartphone { 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-bottom: 30px;
	}

	.blue-region{
		padding-left: 224px;
		font-family: 'AvenirNextLTPro-Bold';
		@include media-netbook { padding-left: 50px; }
		@include media-tablet { padding-left: 0px; }
		html.ie8 &{ padding-left: 310px; padding-right: 100px; height: 610px; } 
		.title{
			background: #6991c3;
			background: rgba(2, 78, 176, .5);
			margin: 0;
			line-height: 123%;
			padding: 23px 41px 30px 41px;
			font-size: 2.8em;
			text-align: left;
			@include media-tablet { padding: 10px 15px; font-size: 2.2em; }
		}
		.contents{
			background: #60acd1;
			background: rgba(1, 150, 221, .5);
			padding: 27px 40px;
			padding-bottom: 50px;
			margin-bottom: 25px;
			@include media-tablet { padding: 10px 15px;  margin: 0; }
			h4{
				margin: 0px 0px 40px 0px ;
				text-align: left;
				html.ie9 &{margin-bottom: 0px; }
			}
			ul{
				margin: 0px 0px 0px 65px ;
				padding: 0;
				@include media-tablet { margin-left: 20px; }
				li{
					list-style: none;
					position: relative;
					line-height: 121%;
					font-size: 1.16em;
					margin-bottom: 16px; 
					html.ie8 &{ font-size: 1.3em; }
					&:before{
						content: '';
						position: absolute;
						top: 0px;
						line-height: 120%;
						left: -45px; 
						@include icon-sprite(bullet-header); 
						@include media-tablet { left: -30px; }
					}
				}
			}
			.btn{
				margin: 31px 0 39px 0;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					bottom: -58px;
					left: 170px;
					@include icon-sprite(limited-time);  
					@include media-tablet { display: none; }
				}
			}
		}
	}
}//end header

// Start content
section#content{
	color: #868686;
	h3{
		margin-top: 0;
		margin-bottom: 45px;
	}
	h4{
		margin-top: 0;
		margin-bottom: 24px;
	}
	article{
		&.gray{
			background: #f0f0f0;
			.container{
				padding-top: 40px;
				padding-bottom: 40px; 
				position: relative;
				&:before{
					content: '';
					position: absolute;
					left: 49px;
					top: -0px; 
					@include icon-sprite(arrow-white);
				}
				&:after{
					content: '';
					position: absolute;
					left: 49px; 
					bottom: -25px;
					@include icon-sprite(arrow-gray);
				}
			}
		}
		&.white{
			background: #ffffff;
			padding: 20px 0;
			
		}
		&.about{
			padding: 41px 0 0px 0;
			img.img{
				position: relative; 
				margin-left: -56px;
				margin-top: -68px;
				@include media-tablet { margin: 10px 0 0 0;  }
			}
			.col-xs-7{
				padding-right: 77px;
			}
			.col-xs-5{
				padding: 0;
			}
			@include media-tablet { .col-xs-5, .col-xs-7{ padding: 0 15px !important; } }
			p{
				html.ie8 &{ font-size: 1.6em; }
			}
		}
		&.howitworks{
			.container{
				
			}
			h3{
				margin-top: 26px;
				margin-bottom: 15px;
			}
			.btn{
				margin-top: 9px;
				padding: 13px 43px;
				text-transform: none;
			}
			.with-numbers{
				margin: 73px -10px 24px -10px;
				.col-xs-4{
					padding: 0 15px 0 5px; 
					&:last-child{  
						padding: 0 0px 0 15px;
						h4.title span.value:after{
							display: none;
						}
					}
				}
				p{
					font-size: 1.16em;
					line-height: 126%;
					@include media-tablet { margin-bottom: 50px; }
					html.ie8 &{ font-size: 1.6em; }
				}
				h4.title{
					font-size: 1em;
					line-height: 100%;
					padding: 0;
					margin: 0px 0px 24px 0px ;
					@include media-tablet { text-align: center; } 
					span.number{
						font-size: 5.6em;
						display: inline-block;
						vertical-align: baseline;
						position: relative; 
						&.lightblue{
							color: #83caee;
						}
						&.moreblue{
							color: #0196dd;
						}
						&.deepblue{
							color: #024eb0;
						}
						@include media-tablet { display: block;
						margin: 25px auto; text-align: center; }
					}
					span.value{
						font-size: 1.3em;
						display: inline-block;
						vertical-align: baseline;
						position: relative;
						margin-left: 3px;
						&:after{
							content: '';
							position: relative;
							top: 3px;
							margin-left: 6px;
							@include icon-sprite(arrow-to-right);
						}
					}
				}
			}
			.tip{
				font-size: 1em;
				line-height: 100%;
				margin: 36px 0 36px 0;
				html.ie8 &{ font-size: 1.2em; }
			}
		}
		&.whatsayabouyus{
			padding: 50px 0 54px 0;
			.container{
				padding-left: 31px; padding-right: 31px; padding-top: 18px;
			}
			h3{
				line-height: 106%;
			}
			ul.testimonials{
				margin: 52px 0px 0px 0px ;
				padding: 0;
				list-style: none;
				li{
					line-height: 100%;
					margin-bottom: 22px;
					position: relative;
					z-index: 10;
					&:before{
						content: '';
						position: absolute;
						top: -14px;
						left: 0px;
						z-index: -1;
						@include icon-sprite(quotes-testimonials); 
					}
					cite{
						font-family: 'AvenirNextLTPro-MediumCn'; 
						font-size: 1em;
						html.ie8 &{ font-size: 1.3em; }
						display: block;
						margin-bottom: 10px;
					}
					.name{
						display: block;
						strong{
							color: #0e9bdf;
						}
					}
				}
			}
			.col-xs-8{
				padding-right: 100px;
			}
			.col-xs-4{
				padding: 0;
				padding-top: 20px;
				position: relative; 
				&:after{
					content: '';
					position: absolute;
					bottom: -150px;
					left: -59px;
					@include icon-sprite(circular-arrow); 
					@include media-tablet { display: none; } 
				} 
			}
			@include media-tablet { .col-xs-8, .col-xs-4{ padding-left: 15px; padding-right: 15px; } } 
		}

		&.media-about{
			.container{
				padding: 61px 44px 30px 105px;  
			}
			h3{
				margin-bottom: 20px;
			}
			.well-blue{
				color: #fff;
				background: #0196dd;
				border-radius: 8px;
				padding: 36px 27px;
				margin-bottom: 28px;
				p{
					margin: 0px 0px 11px 0px ;
					font-size: 1.56em;
					line-height: 121%;
				}
			}
		}

		&.limitedttime{
			padding: 87px 0 20px 0;
			.container{
				padding-left: 32px;
				padding-right: 32px;
			}
			.limited-offer-region{
				padding-bottom: 39px;
				.col-xs-8{
					padding-left: 0;
				}
				.col-xs-4{
					padding: 10px 15px;
				}
				h3{
					color: #0e9bdf; 
					margin-bottom: 30px; 
				}
				p{
					margin-bottom: 25px;
					line-height: 120%;
					font-size: 1.56em;
				}
			}
			.book-region{
				text-align: center;
				padding: 60px 0;
				position: relative;
				.btn{
					padding: 17px 24px;
					text-transform: none;
				}
				@include media-tablet { padding: 20px 0;}				
				&:before{
					content: '';
					position: absolute;
					width: 100%;
					top: -4px;
					left: 0;
					height: 4px;
					background: url(data:image/gif;base64,R0lGODlhCAADALMAAAAAAP////z8/Pv7+/j4+PX19enp6cbGxsLCwsHBwXBwcP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAIAAMAAAQMcBgRak0K2VoO2UEEADs=);
				}
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					bottom: -4px;
					height: 4px;
					background: url(data:image/gif;base64,R0lGODlhCAADALMAAAAAAP////z8/Pv7+/j4+PX19enp6cbGxsLCwsHBwXBwcP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAIAAMAAAQMcBgRak0K2VoO2UEEADs=);
				}
			}
			.faqs-region{
				padding: 66px 0 0px 0;
				color: #707070;
				.container{
					padding-left: 44px;
					padding-right: 44px;
				}
				h3{
					margin-bottom: 32px;
				}
				dl.faqs{
					dt{
						font-family: 'AvenirNextLTPro-Bold';
						margin-bottom: 24px;
						font-size: 1.5em;
						.blue{
							color: #0e9bdf;  
						} 
					} 
					dd{
						font-size: 1.16em;
						html.ie8 &{ font-size: 1.37em; }
						line-height: 150%;
						margin-bottom: 37px;
					}
					margin-bottom: 60px;
				}
				p.links{
					margin-top: 35px;
					margin-bottom: 0;
					line-height: 100%;
					font-size: .96em;
					color: #868686;
					text-align: center; 
					a{
						color: inherit;
						font-family: 'AvenirNextLTPro-Bold'; 
					} 
				}
			}
		}

	}

}



// Media queries
@include media-netbook {
		

}

@include media-tablet {
	
	h1 {font-size: 3.2em; }
	h2 {font-size: 1.8em; }
	h3 {font-size: 2.6em; }


	h3{
		text-align: center;
	}
	
	img{
		max-width: 100%;
		margin: auto;
	}

	.container{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	br{display: none;}
	/* Grid */
	.row {
		margin: 0;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		float: none;
		width: 100%;
	}

	.btn:before{
		display: none !important;
	}

}


@include media-smartphone{
	div{
		// border: 1px solid red;
	}
}

a:hover,  
a:focus,
a,
i,
span,
.btn, 
.btn:hover, 
.btn:focus 
{ 
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
